.blog-create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.blog-create-container h2 {
    padding-bottom: 10px;
}

.blog-create-container form {
    width: 50%;
    background-color: #c6a8c1;
    border:1px solid #c6a8c1;
    padding: 20px 50px;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}


.create-btn {
    border: none;
    background-color: #141E46;
    color: #ffff;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all .5s ease;
}

.create-btn:hover {
    opacity: .9;
}

.create-input {
    border: 1px solid lightgray;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    resize: none;
}

.create-select{
    padding:5px 10px;
}

.form-error {
    color: red;
    font-size: 15px;
}


@media only screen and (max-width: 768px) {

    .blog-create-container {
        margin: 100px 20px;
    }

    .blog-create-container form {
        width: 100%;
    }
}