.blog-detail-container {
    display: flex;
    flex-direction: column;
    margin: 100px 80px;
}

.blog-detail-back{
    border:1px solid lightgray;
    width:50px;
    text-align: center;
    padding:3px 5px;
    margin-bottom:15px;
    color:black;
}

.blog-detail-img {
    width: 1200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.blog-detail-header {
    display: flex;
    justify-content: flex-end;
    gap:10px;
}