.header-container {
    background-color: rgb(223, 126, 109);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}


.header-container li {
    list-style: none;
}


.header-container  li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all .5s ease;
}

.header-container li a:hover {
    opacity: .7;
}